fastapi
uvicorn[standard]
aiohttp
bcrypt
boto3
click
fsspec
google-auth
grpcio
httpx
huggingface-hub
motor
openai
pillow
pydantic
PyJWT
python-dateutil
python-dotenv
python-multipart
requests
stripe
tqdm